<h3>ตรวจสอบสิทธิการรักษา (สปสช)</h3>
<div class="row" style="padding-top: 10px;">
  <div class="col-md-3">
    <label for="">ตั้งแต่</label>
    <my-date-picker-th name="mydate" [options]="myDatePickerOptions" [(ngModel)]="startDate" required></my-date-picker-th>
  </div>
  <div class="col-md-3">
    <label for="">ถึง</label>
    <my-date-picker-th name="mydate" [options]="myDatePickerOptions" [(ngModel)]="endDate" required></my-date-picker-th>
  </div>
  <div class="col-md-2">
    <div style="padding-top: 18px;">
      <button class="btn btn-primary" (click)="getServices()">แสดง</button>
    </div>
  </div>
  <div class="col-md-3">
    <div style="padding-top: 25px;">
      <div class="btn-group btn-primary">
        <button class="btn">
          <clr-icon shape="search"></clr-icon> ตรวจสอบ สปสช.
        </button>
        <button class="btn btn-danger">
          <clr-icon shape="download"></clr-icon> ปรับปรุง
        </button>
        <button class="btn btn-success" (click)="openSettingModal()">
          <clr-icon shape="cog"></clr-icon> ตั้งค่า
        </button>
      </div>
    </div>
  </div>
</div>
<span *ngIf="loading" class="spinner spinner-inline">
  กรุณารอซักครู่...
</span>
<span *ngIf="loading">
  กรุณารอซักครู่...
</span>

<clr-datagrid [clrLoading]="loading" [(clrDgSelected)]="selectedPatient">
  <clr-dg-column [style.width.%]="10">HN</clr-dg-column>
  <clr-dg-column [style.width.%]="20">ชื่อ-สกุล</clr-dg-column>
  <clr-dg-column [style.width.%]="10">เวลา</clr-dg-column>
  <clr-dg-column [style.width.%]="20">สิทธิการรักษา</clr-dg-column>
  <clr-dg-column [style.width.%]="15">เลขที่บัตร</clr-dg-column>
  <clr-dg-column>สิทธิ สปสช.</clr-dg-column>

  <clr-dg-placeholder>ไม่พบข้อมูล!</clr-dg-placeholder>

  <clr-dg-row *clrDgItems="let patient of patients" [clrDgItem]="patient">
    <clr-dg-cell>{{patient.hn}}</clr-dg-cell>
    <clr-dg-cell>{{patient.ptname}}</clr-dg-cell>
    <clr-dg-cell>{{patient.vsttime}}</clr-dg-cell>
    <clr-dg-cell>{{patient.pttype}} - {{patient.pttype_name}}</clr-dg-cell>
    <clr-dg-cell>{{patient.pttypeno}}</clr-dg-cell>
    <clr-dg-cell></clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
     {{patients.length | number}} รายการ
  </clr-dg-footer>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="openModalVaccine" [clrModalClosable]="false" [clrModalSize]="'xl'">
  <h3 class="modal-title">ประวัติการฉีดวัคซีน</h3>
  <div class="modal-body">
    <clr-datagrid [clrDgLoading]="loadingHistory">
      <clr-dg-column [clrDgField]="'DATE_SERV'">วันที่</clr-dg-column>
      <clr-dg-column [clrDgField]="'vaccine_name'">ชื่อวัคซีน</clr-dg-column>
      <clr-dg-column [clrDgField]="'HOSPCODE'">หน่วยบันทึก</clr-dg-column>
      <clr-dg-column [clrDgField]="'VACCINEPLACE'">หน่วยบริการ</clr-dg-column>
      <clr-dg-column [clrDgField]="'DUPDATE'">ปรับปรุ่งล่าสุด</clr-dg-column>
      <clr-dg-placeholder>ไม่พบประวัติการฝากครรภ์</clr-dg-placeholder>

      <clr-dg-row *clrDgItems="let wbc of vaccineHistories;">
        <clr-dg-cell>{{wbc.DATE_SERV | toThaiDate }}</clr-dg-cell>
        <clr-dg-cell>{{wbc.VACCINETYPE}} - {{wbc.vaccine_name}}</clr-dg-cell>
        <clr-dg-cell>{{wbc.HOSPCODE}} {{ wbc.owner_hospname }} (Type: {{ wbc.TYPEAREA }})</clr-dg-cell>
        <clr-dg-cell>{{wbc.VACCINEPLACE}} {{ wbc.service_hospname }}</clr-dg-cell>
        <clr-dg-cell>{{wbc.D_UPDATE | toThaiDate}}</clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>
        {{pagination2.firstItem + 1}} - {{pagination2.lastItem + 1}} of {{pagination2.totalItems}} รายการ
        <clr-dg-pagination #pagination2 [clrDgPageSize]="6"></clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="openModalVaccine = false">
      ปิดหน้าต่าง
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="openSetting" [clrModalSize]="'lg'" [clrModalClosable]="false">
  <h3 class="modal-title">กำหนดค่าการตรวจสอบสิทธิ์</h3>
  <div class="modal-body">

    <form>
      <section class="form-block">
        <label>NHSO Authentication setting</label>
        <div class="form-group row">
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <label class="required" for="txtCid">เลขบัตรประชาชน</label>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <input class="form-control" type="text" name="txtCid" placeholder="เลขประชาชน 13 หลัก">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <label class="required" for="txtFile">Token file</label>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <input disabled class="form-control" type="text" name="txtFile" [(ngModel)]="tokenPath" placeholder="ระบุที่อยู่ของไฟล์ nhso_token.txt">
          </div>
          <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
            <button class="btn btn-link" (click)="openFile()">
              <clr-icon shape="search"></clr-icon>
            </button>
          </div>
        </div>
      </section>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="openSetting = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="openSetting = false">Ok</button>
  </div>
</clr-modal>